.div-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.div-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: auto;
  justify-content: space-between;
  gap: 20px;
}

.div-solo-button {
  width: 30%;
  display: flex;
}
